.endingContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(255 255 255 / 0%);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.endingCard {
    padding: 2em;
  }
.endingCard h1{
    color: #FFF;
}
  
.endingCard h2{
    color: #FFF;
    font-size: 3.5em;
}

.btnYep {
    backface-visibility: hidden;
    background: #332cf2;
    border: 0;
    border-radius: .375rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,Helvetica,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 1.5rem 10.5rem;
    position: relati1e;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .btnYep:disabled {
    color: #787878;
    cursor: auto;
  }
  
  .btnYep:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .btnYep:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .btnYep:focus {
    outline: 0 solid transparent;
  }
  
  .btnYep:focus:before {
    border-width: .125rem;
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .btnYep:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .btnYep:not(:disabled):active {
    transform: translateY(.125rem);
  }

